# ytlib config file

# !! `mv .config/ytlib.conf.dist .config/ytlib.conf` first, then edit !!
source .internal/optset

# ----- general options

# enable/disable logging to .ytlib.log
# 1: enabled, 0: disabled
# default: 1
optset LOGGING 1

# set index file path
# default: '.db/index.txt'
optset INDEXDB '.db/index.txt'


# ----- download options

# enable/disable compression of video.info.json files after downloading
# 1: enabled, 0: disabled
# default: 1
optset COMPRESSINFO 1
#  note: to compress all already existing infojson files, run:
#  find channels/ -name 'video.info.json' -exec gzip '{}' \;
#  to decompress:
#  find channels/ -name 'video.info.json.gz' -exec gunzip '{}' \;


# ----- utils/search options

# set player command for search, %s gets replaced with the path to the file
# default: 'mpv %s --sub-auto=all --hwdec=auto'
#          `--sub-auto=all` to make mpv read all subtitle files in the video's directory
#          `--hwdec=auto` to automatically use whatever hardware decoding is available,
optset PLAYER 'mpv %s --sub-auto=all --hwdec=auto'

# set whether to sort by latest added or alphabetically
# 1: alphabetically, 0: latest added*
# *0 may or may not mess with search result order
# default: 1
optset SEARCHSORT 0

# enable/disable preview
# 1: enabled, 0: disabled
# default: 1
optset SEARCHPREVIEW 1
